# SETS

### Set is a collection which is unordered and unindexed. written in curly bracket{}

In [31]:
#Creating sets
Bouquet = {'Rose', 'Lily', 'Jasmine', 'Lotus'}
Bouquet

{'Jasmine', 'Lily', 'Lotus', 'Rose'}

In [32]:
for flower in Bouquet:
    print(flower)

Lotus
Lily
Jasmine
Rose

In [33]:
#Trying to change the element of a set 
Bouquet[0] = 'Marigold'

TypeError: 'set' object does not support item assignment

to add one element in set : add() \
to add more than one element : update()

In [ ]:
Bouquet.add('Marigold')
Bouquet

{'Jasmine', 'Lily', 'Lotus', 'Marigold', 'Rose'}

In [ ]:
Bouquet.update({'Daisy', 'Tulip'} )
Bouquet

{'Daisy', 'Jasmine', 'Lily', 'Lotus', 'Rose', 'Tulip'}

remove() : gives error if element is not present in the set \
discard() : doesn't gives the error if element is not present

In [ ]:
Bouquet.remove('apple')

KeyError: 'apple'

In [ ]:
Bouquet.discard('Mango')
Bouquet

{'Daisy', 'Jasmine', 'Lily', 'Lotus', 'Rose', 'Tulip'}

In [ ]:
#to remove item from set 
Bouquet.pop()
Bouquet

{'Daisy', 'Jasmine', 'Rose', 'Tulip'}

In [ ]:
# to clear set 
Bouquet.clear()
Bouquet

set()

## Operations in SET

### 1. Union  
Set of all elements from both sets 

a. |operation \
b. union() method

In [ ]:
#defining two sets

A = {1, 2, 3, 4, 6}
B = {2, 5, 7, 1}

In [ ]:
# union using OR operator
A|B  #Or B|A

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
# using union() method
A.union(B)  # or B.union(A)

{1, 2, 3, 4, 5, 6, 7}

### 2. Set Intersection
Set of elements which are present in both sets. means common elements

a. & operator\
b. intersection() method

In [34]:
#using & operator
A&B

{1, 2}

In [35]:
#using intersection() method
B.intersection(A)

{1, 2}

### 3. Set Difference
The difference of set B from set A (A - B) is the set of element that are only A but not in B and vice versa

In [38]:
A - B
A.difference(B)

{3, 4, 6}

In [39]:
B - A
B.difference(A)

{5, 7}

### 4. Set Symmetric Difference
Set of all elements from A and B excluding  the common element in both

a. ^operator \
b.  symmetric_difference() method

In [41]:
A^B
A.symmetric_difference(B)

{3, 4, 5, 6, 7}